.transaction-history {
  width: 600px;
  margin: 0 auto 50px auto;

  text-transform: capitalize;

  box-shadow: 0 0 10px 10px #83afe1;
}

thead {
  background-color: #02bad6;
}

.title {
  height: 40px;

  font-weight: 500;
  text-transform: uppercase;

  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(0, 0, 0);
}

tr {
  height: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(0, 0, 0);
}

tbody tr:nth-child(even) {
  background-color: #ecf1f4;
}
tbody tr:nth-child(odd) {
  background-color: #fffdfe;
}
